# Lists

In [2]:
planets = ["Earth", "Mars", "Saturn", "Jupiter"]

In [3]:
mixList = ["Hey", 123, ["Dog", "Cat", "Bird"]]

In [4]:
print(planets)
print(mixList)

['Earth', 'Mars', 'Saturn', 'Jupiter']
['Hey', 123, ['Dog', 'Cat', 'Bird']]

In [5]:
print(len(planets)) #len function

4

In [6]:
planets.append("Mercury") #append function

In [7]:
print(planets)

['Earth', 'Mars', 'Saturn', 'Jupiter', 'Mercury']

In [8]:
del planets[2] #del function

In [9]:
print(planets)

['Earth', 'Mars', 'Jupiter', 'Mercury']

In [10]:
mixList.insert(0, 'Saturn') #insert function

In [11]:
print(mixList)

['Saturn', 'Hey', 123, ['Dog', 'Cat', 'Bird']]

In [12]:
mixList.remove('Hey') #remove function

In [13]:
print(mixList)

['Saturn', 123, ['Dog', 'Cat', 'Bird']]

# Dictionary

In [16]:
user = {"Name": "Christine", "Age": 23}

In [17]:
print(user)

{'Name': 'Christine', 'Age': 23}

In [18]:
user["Age"] = 24 #update

In [19]:
print(user)

{'Name': 'Christine', 'Age': 24}

In [20]:
len(user) #len function

2

In [21]:
str(user) #str function

"{'Name': 'Christine', 'Age': 24}"

In [23]:
type('Name') #type function

str

In [24]:
user["Height"] = 154 #add function

In [25]:
print(user)

{'Name': 'Christine', 'Age': 24, 'Height': 154}

In [26]:
del user["Age"] #del function

In [27]:
print(user)

{'Name': 'Christine', 'Height': 154}

# Sets

In [28]:
num=set([1, 2, 4, 4, 3, 3, 3, 6, 5])

In [29]:
print(num)

{1, 2, 3, 4, 5, 6}

In [37]:
num.add(7) #add function

In [38]:
print(num)

{1, 2, 3, 4, 5, 6, 7}

In [39]:
num.remove(2) #remove function

In [40]:
print(num)

{1, 3, 4, 5, 6, 7}

In [41]:
num.discard(6) #discard function

In [42]:
print(num)

{1, 3, 4, 5, 7}

In [46]:
num.pop() #pop function

1

In [47]:
print(num)

{3, 4, 5, 7}

In [48]:
num.clear() #clear function

In [49]:
print(num)

set()

# Tuple

In [50]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5 )
tup3 = "a", "b", "c", "d"

In [51]:
print(tup1)
print(tup2)
print(tup3)

('physics', 'chemistry', 1997, 2000)
(1, 2, 3, 4, 5)
('a', 'b', 'c', 'd')

In [54]:
tup3 = tup1 + tup2; #concatenation

In [55]:
print(tup3)

('physics', 'chemistry', 1997, 2000, 1, 2, 3, 4, 5)

In [56]:
len(tup3) #len function

9

In [57]:
max(tup2) #max function

5

In [59]:
min(tup2) #min function

1

In [67]:
tup2.count(5) #count function

1

In [68]:
tup3.index(3) #index function

6

# String

In [83]:
var1 = 'Hello World! '
var2 = "Python Programming"

In [70]:
print(var1)
print(var2)

Hello World!
Python Programming

In [71]:
var1.casefold() #casefold function

'hello world!'

In [85]:
var=var1+var2 #concatenation function

In [86]:
print(var)

Hello World! Python Programming

In [87]:
len(var1) #len function

13

In [89]:
var.index('Python') #index function

13

In [91]:
var1.islower() #islower function

False

In [92]:
var2.lower() #lower function

'python programming'

In [93]:
del var #del function

In [94]:
print(var)

NameError: name 'var' is not defined